<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>
<body class= "prod">
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- ultima visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">PASTELERIA</h2>
			</div>
			<!-- Show the "visited" products -->	
			<% Pasteleria.forEach(function(product){ 
				let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail/<%= product.id %>">
							<figure class="product-box_image">
								<img class= "img2" src="/images/products/<%= product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2><%= toThousand(finalPrice) %></h2>
								<span><%= product.discount %> %OFF</span>
								<p><%= product.name %></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
			</div>
		</div>
		<!-- /ultima visita -->



		<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" style="background-color: grey">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
  </ol>
	  <div class="carousel-inner" role="listbox">
	    <div class="carousel-item active"> <img class="d-block mx-auto" src="file:///C|/Users/a_bro/AppData/Roaming/Adobe/Dreamweaver 2021/es_ES/Configuration/Temp/Assets/eam3B3D.tmp/images/Carousel_Placeholder.png" alt="First slide">
	      <div class="carousel-caption">
	        <h5>First slide Heading</h5>
	        <p>First slide Caption</p>
          </div>
        </div>
	    <div class="carousel-item"> <img class="d-block mx-auto" src="file:///C|/Users/a_bro/AppData/Roaming/Adobe/Dreamweaver 2021/es_ES/Configuration/Temp/Assets/eam3B3D.tmp/images/Carousel_Placeholder.png" alt="Second slide">
	      <div class="carousel-caption">
	        <h5>Second slide Heading</h5>
	        <p>Second slide Caption</p>
          </div>
        </div>
	    <div class="carousel-item"> <img class="d-block mx-auto" src="file:///C|/Users/a_bro/AppData/Roaming/Adobe/Dreamweaver 2021/es_ES/Configuration/Temp/Assets/eam3B3D.tmp/images/Carousel_Placeholder.png" alt="Third slide">
	      <div class="carousel-caption">
	        <h5>Third slide Heading</h5>
	        <p>Third slide Caption</p>
          </div>
        </div>
  </div>



		
		<!-- Ofertas -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">CHOCOLATE</h2>
				</div>
				<!-- Show the "in-sale" products -->
				<% Chocolate.forEach(function(product){ 
					let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
				%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img class= "img2" src="/images/products/<%= product.image %>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2><%= toThousand(finalPrice) %></h2>
									<span><%= product.discount %> %OFF</span>
									<p><%= product.name %></p>
									<i class="fas fa-truck"></i>
								</article>
							</a>
						</section>
					</div>
				<% }) %>
				</div>
			</div>


			<!-- /Ofertas -->
			
			<!-- footer -->
			<%- include('../partials/footer.ejs') %>
			<!-- /footer -->
		</body>	
		</html>